<% include include/header.ejs %>


<div id="page-ui-js">
    <div class="doc-banner">
        <div class="container">
            <h1>JS 插件</h1>

            <p>提供基础的 JS 插件（JS 插件体验请用移动端扫描二维码体验）</p>
        </div>
    </div>

    <div class="doc-body container">
        <div class="row">
            <div class="col-lg-2 js-scroll-spy">
                <ul class="nav doc-nav list-group">
                    <% for(var i = 0; i < demos.length; i++ ) { %>
                    <li class="list-group-item" data-hash="<%= demos[i].name %>"><a href="#<%= demos[i].name %>"><%= demos[i].title %></a></li>
                    <% } %>
                </ul>
            </div>

            <div class="col-lg-10">
                <% for(var i = 0; i < demos.length; i++ ) { %>
                <div id="<%= demos[i].name %>" class="doc-code-panel">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><%= demos[i].title %></h3>
                            <a class="doc-demo-css-link" href="http://alloyteam.github.io/JMUI/css/<%= demos[i].name %>.css" title="点击查看源码" target="_blank"><%= demos[i].name %>.css</a>
                            <a class="doc-demo-js-link" href="http://alloyteam.github.io/JMUI/js/<%= demos[i].name %>.js" title="点击查看源码" target="_blank"><%= demos[i].name %>.js</a>
                            <a class="doc-demo-link" href="http://alloyteam.github.io/JMUI/demo/<%= demos[i].name %>.html" title="点击查看demo" target="_blank"><span class="glyphicon glyphicon-qrcode"></span></a>
                            <div class="doc-qrcode"></div>
                        </div>
                        <div class="panel-body">
                            <section id="demo-<%= demos[i].name %>">
                                <% for(var j = 0; j < demos[i].items.length; j++ ) { %>
                                <div class="doc-demo">
                                    <p class="demo-desc"><%= demos[i].items[j].desc %></p>
                                    <div class="demo-block">
                                        <pre><code class="html"><%= demos[i].items[j].block %></code></pre>
                                        <a class="doc-copy-code-btn" data-clipboard-text="<%= demos[i].items[j].block %>">复制</a>
                                    </div>
                                    <div class="demo-script">
                                        <pre><code class="javascript"><%= demos[i].items[j].script %></code></pre>
                                        <a class="doc-copy-code-btn" data-clipboard-text="<%= demos[i].items[j].script %>">复制</a>
                                    </div>
                                </div>
                                <% } %>
                            </section>
                        </div>
                    </div>
                </div>
                <% } %>
            </div>
        </div>
    </div>

    <!--<div class="demo-iframe-wrap" title="拖拽">>-->
        <!--<iframe class="demo-iframe" src="http://alloyteam.github.io/JMUI/demo/demo-ui-js.html"></iframe>-->
    <!--</div>-->
    <!--<a href="#" class="hide-demo-btn">Demo</a>-->
</div>

<% include include/footer.ejs %>
